//
    File Name: footer.pug
    Author's Name: Bhargav Prajapati
    Website: http://portfolio.bhargavprajapati.com:3000/
    File Description: include links in footer
//
footer.pt-4.my-md-5.pt-md-5.border-top
  .row
    .col-12.col-md
      | Bhargav Prajapati
      small.d-block.mb-3.text-muted © 2019
    .col-6.col-md
      h5 Contact
      ul.list-unstyled.text-small
        li
          a.text-muted(href='mailto:info@bhargavprajapati.com', target='_top') Send E-Mail
        li
          a.text-muted(href='/contact') Contact
    .col-6.col-md
      h5 Links
      ul.list-unstyled.text-small
        li
          a.text-muted(href='/') Home
        li
          a.text-muted(href='/about') About
        li
          a.text-muted(href='/projects') Projects
        li
          a.text-muted(href='/services') Services
        li
          a.text-muted(href='/contact') Contact