extends layout

block content
  .row
  .col-sm
    h3
      | I am a computer programming student at Georgian College. I am an extrovert talkative person overall. Can't wait to get in touch with you! Looking forward to an amazing friendship and professional relation!
  .col-sm
    img(src='images/me.png', alt='')
  .col-sm
    h3
      | I love coding in Javascript and PHP! I find myself very creative with web designing and digital media. I also do some Java and Swift Development as well. I love how code can help the people.
  include partials/footer.pug


