extends layout

block content
  // File Name: services.pug
  // Author's Name: Bhargav Prajapati
  // Website: http://portfolio.bhargavprajapati.com:3000/
  // File Description: view of services page
  img.img-fluid(src='images/Education.png')
  img.img-fluid(src='images/Work.png')
  include partials/footer.pug
  //included footer
