extends layout

block content
  img.img-fluid(src='images/home.png')
  .intro
  h2 Hi There!
  h3 Myself Bhargav Prajapati, student at Georgian College and a coder!
  h2 Welcome to my portfolio!!
  include partials/footer.pug

