extends layout

block content
  img.img-fluid(src='images/home.png')
  .intro
  h2 Hi Everyone! 
  h2 Welcome to my portfolio!!
  h2 Myself Bhargav Prajapati, student at Georgian College and a web-developer!
  include partials/footer.pug

