extends layout

block content
  .row
  .col-sm
    img(src='images/project.png', width='99%')
  .col-sm
    h2 Web and App Development
    .ul
      ul Multiple websites with JavaScript and PHP
      ul WordPress and Shopify Websites
      ul Social Media Management for range of industies
      ul Android Calculator App
      ul Swift IOS Applications
  .col-sm
    h3 Check out my GitHub!
  .git
   a(href='https://github.com/bhargav2288')
    img(src='images/GitHub.png', width='30%')
  include partials/footer.pug



