extends layout

block content
  // File Name: services.pug
  // Author's Name: Bhargav Prajapati
  // Website: http://portfolio.bhargavprajapati.com:3000/
  // File Description: view of services page
  img.img-fluid(src='images/1.png')
  img.img-fluid(src='images/2.png')
  img.img-fluid(src='images/3.png')
  include partials/footer.pug
  //included footer


