body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 .intro
            {
                border-style: solid;
                border-color: gray;
                color: green;
                border-radius: 15px;
                background-color: lightgray;
                text-align: center;
            }
  .col-sm{
                text-align: center;
                padding: 5%;
                color: black;
                background-color: lightgray;
            }
            .ul{
                font-size: 20px;
                padd: 2%;
                border-style: solid;
                border-width: 2px;
                background-color: salmon;
            }
            .git
{
    text-align: center;
}
